<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="PHPCuong_BannerSlider::banners_slider" title="BannerSlider" translate="title" module="Assignment4_ORMAdminGrid" sortOrder="20" resource="PHPCuong_BannerSlider::banners_slider"/>
        <add id="PHPCuong_BannerSlider::all_banners" title="All Banners" translate="title" module="Assignment4_ORMAdminGrid" sortOrder="10" resource="PHPCuong_BannerSlider::all_banners" parent="PHPCuong_BannerSlider::banners_slider" action="phpcuong_banners_slider/banner/index"/>
        <add id="PHPCuong_BannerSlider::all_groups" title="All Groups" translate="title" module="Assignment4_ORMAdminGrid" sortOrder="10" resource="PHPCuong_BannerSlider::all_groups" parent="PHPCuong_BannerSlider::banners_slider" action="phpcuong_banners_slider/group/index"/>
    </menu>
</config>