<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Assignment4_ORMAdminGrid::contact" title="Contact" translate="title" module="Assignment4_ORMAdminGrid" sortOrder="20" resource="Assignment4_ORMAdminGrid::contact"/>
        <add id="Assignment4_ORMAdminGrid::contact_us" title="Contact us" translate="title" module="Assignment4_ORMAdminGrid" sortOrder="10" resource="Assignment4_ORMAdminGrid::contact_us" parent="Assignment4_ORMAdminGrid::contact"/>
        <add id="Assignment4_ORMAdminGrid::all_contact" title="All Contact" translate="title" module="Assignment4_ORMAdminGrid" sortOrder="10" resource="Assignment4_ORMAdminGrid::all_contact" parent="Assignment4_ORMAdminGrid::contact_us" action="assignment4contacteddetails/contacted/index"/>
    </menu>
</config>