<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="assignment4" frontName="assignment4_submitdetails">
            <module name="Assignment4_ORMAdminGrid" />
        </route>
    </router>
</config>